<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      
    </style>
  </head>
  <body>
    {{!-- <ul id="messages">
      <li>Waiting for host to start game</li>
    </ul> --}}
    {{!-- <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form> --}}

    <div class='container h-100' style='background-color: rgb(234, 234, 234);'>
      <p id="username"></p>

      {{!-- question --}}
      <div class="container w-50">
        <div class="col p-5 m-5" style="border: 2px solid black; background-color: white;">
          <p class="text-center fs-1" style="font-family: monaco;">What color is the sky?</p>
        </div>
      </div>

      {{!-- answer choices --}}
      <div class="container py-5">
        <div class="row row-cols-2 d-flex justify-content-center">
          <div class="btn col P-3 text-center text-white fs-4 m-1" style="font-family: monaco; background-color: #E11B3C; width: 500px;">
            <img src="https://ecdn.teacherspayteachers.com/thumbitem/Kahoot-4-Corners-Posters-7674481-1656584510/original-7674481-1.jpg" style='width: 50px; height: 50px; float: left;' alt="">
            <p>Blue</p>
          </div>

          <div class="btn col p-3 text-center text-white fs-4 m-1" style="font-family: monaco; background-color: #1A68CE; width: 500px;">
            <img src="https://ecdn.teacherspayteachers.com/thumbitem/Kahoot-4-Corners-Posters-7674481-1656584510/original-7674481-1.jpg" style='width: 50px; height: 50px; float: left;' alt="">
            <p>Pink</p>
          </div>
          <div class="btn col p-3 text-center text-white fs-4 m-1" style="font-family: monaco; background-color: #D79D00; width: 500px;">
            <img src="https://ecdn.teacherspayteachers.com/thumbitem/Kahoot-4-Corners-Posters-7674481-1656584510/original-7674481-1.jpg" style='width: 50px; height: 50px; float: left;' alt="">
            <p>Yellow</p>
          </div>
          <div class="btn col p-3 text-center text-white fs-4 m-1" style="font-family: monaco; background-color: #26890C; width: 500px;">
            <img src="https://ecdn.teacherspayteachers.com/thumbitem/Kahoot-4-Corners-Posters-7674481-1656584510/original-7674481-1.jpg" style='width: 50px; height: 50px; float: left;' alt="">
            <p>Purple</p>
          </div>
        </div>
      </div>

    </div>
    
  </body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  var form = document.getElementById('form');
  var input = document.getElementById('input');
  const username = sessionStorage.getItem("username");
  document.getElementById('username').innerText = `Current User: ${username}`;
  console.log(username);
  console.log('attempting to emit username');
  socket.emit('connect user', username);
  socket.on('connect user', function(id) {
    console.log('id:', id);
  });
</script>