<h1 class="m-1">Kahoot!</h1>

{{!-- Room ID --}}
<div>
  <p>Your Room ID is: 54321</p>
</div>

{{!-- create questions & answers --}}
<div class="d-flex justify-content-center align-items-center">
  <form class="w-50" action="">
    <label class="form-label">What color is the sky?</label>
    <input class="form-control" type="text">

    <label class="form-label">How many sides does a rectangle have?</label>
    <input class="form-control" type="number">

    <button type="submit" class="btn btn-primary my-3">Create Game</button>
  </form>
</div>