<div class="container d-flex flex-column align-items-center justify-content-center h-100"  style="background-color: rgb(58, 38, 132);">
  <h1 class="m-3 monospace" style="color: rgb(255, 255, 255); font-size: 50px;">Welcome to Kahoot!</h1>

  <div class="d-flex flex-column justify-content-center m-3 border bg-light h-25" style="width:400px;">
    <a href="/host" class="btn bg-light mx-3 my-2 fw-bold d-flex align-items-center justify-content-center" style="color: grey; height: 50px; border:solid; border-width: 2px; border-color:grey;">Host Game</a>
    <a href="/join" class="btn bg-dark light mx-3 my-2 fw-bold d-flex align-items-center text-center justify-content-center" style="color: white; height: 50px;">Join Game</a>
  </div>
</div>
