<h1 class="m-1">Kahoot!</h1>


<div class="d-flex justify-content-center align-items-center">
  <form class="w-50" action="">
    <label class="form-label">Room ID</label>
    <input class="form-control" type="number" placeholder="12345">

    <label class="form-label">Username</label>
    <input class="form-control" type="text" placeholder="Bob">

    <button type="submit" class="btn btn-primary my-3">Join Game</button>
  </form>
</div>
