<h1 class="m-1">Kahoot!</h1>


<div class="d-flex justify-content-center align-items-center">
  <form id="roomForm" class="w-50" action="/join" method="post">
    <label class="form-label">Room ID</label>
    <input id="roomId" class="form-control" type="text" name="roomId" placeholder="1U3X5">

    <label class="form-label">Username</label>
    <input  id="username" class="form-control" type="text" name="username" placeholder="Bob">

    <button type="submit" class="btn btn-primary my-3">Join Game</button>
  </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  var form = document.getElementById('roomForm');
  var roomId = document.getElementById('roomId');
  var username = document.getElementById('username');

  form.addEventListener('submit', function(e) {
    socket.emit('join-room',  { roomId: roomId.value, username: username.value });
  });
</script>
