<h1 class="m-1">Kahoot!</h1>

<div class="d-flex justify-content-center align-items-center">
  <form id="roomForm" class="w-50" action="/join" method="post">
    <label class="form-label">Room ID</label>
    <input id="roomId" class="form-control" type="text" name="roomId" placeholder="1U3X5">

    <label class="form-label">Username</label>
    <input  id="username" class="form-control" type="text" name="username" placeholder="Bob">

    <button type="submit" class="btn btn-primary my-3">Join Game</button>
  </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const form = document.getElementById('roomForm');
  const roomId = document.getElementById('roomId');
  const username = document.getElementById('username');

  socket.on('connect', () => {
    console.log('socket_id:', socket.id);
 });

  form.addEventListener('submit', function(e) {
    const message = socket.emit('join-room',  { roomId: roomId.value, username: username.value });
    console.log(message)
    // TODO: Implement sessions here or backend
    sessionStorage.setItem("username", username.value);
  });
</script>
